#search {
    width: 500px;
}
#autocomplete {
    width: 500px;
    position: absolute;
    z-index: 2;
}
.autocomplete-children {
    border: 1px solid black;
    background-color: gray;
    padding: 5px;
}

.repo {
    border: 1px solid black;
    padding: 10px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: deeppink;
}

.delete-btn {
    background: red;
    color: black;
    border: 1px solid black;
    padding: 5px;
    }
.autocomplete-error {
    padding: 10px;
    background-color: red;
    color: black;
    border: 1px solid red;
    font-size: 25px;
}